<footer>
  <!-- <img id="foundation-logo__footer"
       src="../../assets/images/FWM Logo on Dark background.png"
       height="167"
       width="227"
  > -->

  <figure id="foundation-logo__footer"></figure>

  <nav>
    <h3>navigate</h3>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Resources</a></li>
    </ul>
  </nav>

  <nav>
    <h3>quick links</h3>
    <ul>
      <li><a href="#">CALPERS</a></li>
      <li><a href="#">CALSTRS</a></li>
      <li><a href="#">403B Comply</a></li>
    </ul>
    <ul>
      <li><a href="#">Interactive Brokers Portal</a></li>
      <li><a href="#">FTJ Fund Choice</a></li>
      <li><a href="#">Right Capital</a></li>
    </ul>
  </nav>

  <nav>
    <h3>contact us</h3>
    <ul>
      <li><a href="#">8050 N Palm Ave, Suite 300<br>Fresno, CA 93711</a></li>
      <li><a href="#">(559)389-5091</a> <a href="#">(559)974-1752</a></li>
      <li><a href="#">tim@foundationwm.com</a></li>
    </ul>
  </nav>

</footer>

<a id="footer-banner"><span>schedule a consultation</span></a>
