<header>
  <input type="checkbox" name="nav-toggle" id="nav-toggle" class="nav-toggle" />

  <aside>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/services">services</a></li>
        <li><a href="/resources">resources</a></li>
      </ul>
    </nav>
  </aside>

  <div class="container">
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>

    <nav>
      <ul>
        <li><a href="/services">services</a></li>
        <li><a href="/resources">resources</a></li>
      </ul>
    </nav>
  </div>

  <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
</header>
