// Color renamers

$white: #fff;
$black: #000;

// Theme colors

$midnight-blue: #07142a;
$deep-blue: #0e1e38;
$navy-blue: #061a39;
$slate-gray: #3a4961;
$royal-blue: #0a2859;
$blue-gray: #809ab7;
$lavender: #edeeff;

// Extras
$midnight-blue-accent: #09162d; // slightly lighter variant of $midnight-blue

// Color Renamers
$slate-grey: $slate-gray;
$blue-grey: $blue-gray;
