// Color renamers

$white: #fff;
$black: #000;

// Theme colors

$midnight-blue: #07142a;
$deep-blue: #0e1e38;
$navy-blue: #061a39;
$slate-gray: #3a4961;
$royal-blue: #0a2859;
$blue-gray: #809ab7;
$lavender: #edeeff;

// Extras
$midnight-blue-accent: #09162d; // slightly lighter variant of $midnight-blue

// Color Renamers
$slate-grey: $slate-gray;
$blue-grey: $blue-gray;


// colors ranked from darkest to lightest
// #010c1e -- found in down carat in lighter buttons && "read more"/"collapse" buttons
// #051227 -- found in "schedule a free consultation" buttons
// #071730 -- found in header bar background (filled)
// #071833 -- found in main element (about page only)
// #071a39 -- found in "send" and "cancel" buttons in contact form
// #09162d -- found in footer bar
// #0b2144 -- found in lightest part of dark-variant crescent
// #10284f -- found in inactive testimonial background color
// #0a2859 -- found in active testimonial background color
// #222d42 -- found beneath footer bar
// #1d4891 -- found in "schedule a consultation" button on home page
// #3a4961 -- found in "schedule a consultation" button on home page
// #515f74 -- header bar (filled) bottom border color
// #809ab7 -- found in lighter buttons
// #bbcfe0 -- found in active && inactive testimonial text color
// #d0dde8 -- found in darkest part of light-variant crescent
// #e6ebf1 -- found in contact form input fields
