@import "../variables";
@import "../fonts";

footer {
  background: $footer--background;
  color: $white;
  font-family: $font--body;
  padding: $footer--padding__mobile;
}

footer #foundation-logo__footer {
  background: url("../../assets/images/FWM logo on dark.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  height: $footer--background__height--mobile;
  width: $footer--background__width--mobile;
  overflow: hidden;
}

footer nav {
  margin-bottom: $footer--nav__margin--mobile;
}

footer nav.contact {
  margin-bottom: 0;
}

footer nav h3, footer nav a {
  color: $footer--text-color;
}

footer nav h3 {
  text-transform: uppercase;
  font-size: $footer--font-size;
  font-weight: bold;
  letter-spacing: $footer--nav-header__letter-spacing;
  margin-bottom: 23px;
  border-bottom: 1px solid $white;
}

footer nav a {
  display: block;
  font-size: $footer--font-size;
  text-decoration: none;
  font-weight: 100;
}

footer nav ul {
  list-style: none;
}

footer nav li {
  margin-bottom: 10px;
}

footer nav:last-of-type li {
  margin-bottom: 23px;
}

a#footer-banner {
  background: $schedule-consultation--background;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font--body;
  font-size: $footer--font-size;
  font-weight: bold;
  letter-spacing: $schedule-consultation--letter-spacing;
  position: relative;
  padding: 23px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#footer-banner span::after {
  content: "";
  position: absolute;
  left: calc(50% - 41px);
  bottom: 14px;
  border-bottom: 2px solid $white;
  width: 82px;
}

////////////

@media screen and (min-width: 878px) {
  footer {
    padding: $footer--padding__desktop;
  }

  footer .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: $footer--background__width--desktop 0.8fr 1fr 1fr;
  }

  footer #foundation-logo__footer {
    background: url("../../assets/images/FWM Logo on Dark background-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: calc(100% - 0px);
    width: $footer--background__width--desktop;
  }


  footer nav {
    margin-left: 20px;
    margin-bottom: 0;
  }

  footer nav:first-of-type {
    margin-left: 90px;
  }

  footer nav.contact li:last-of-type {
    margin-bottom: 0;
  }

  footer nav a {
    display: inline;
  }

  footer nav h3 {
    border-bottom: 0;
  }

  footer nav ul {
    display: block;
    margin-left: 0;
  }
}

////////////

@media screen and (min-width: 1301px) {
  footer .container {
    grid-template-columns: $footer--background__width--desktop 1fr 1.5fr 1fr;
  }

  footer nav ul {
    display: inline-block;
  }

  footer nav ul + ul {
    margin-left: 40px;
  }
}
