@import "../variables";
@import "../fonts";

header {
  font-family: $font--body;
  padding: $header--padding;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: $elevation--app-bar__resting;
}

header .container {
  display: none;
}

header aside {
  background: rgba(33, 43, 58, 0.62);
  padding: 124px 0 50px;
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  width: 100%;

  transform: scale(1, 0);
  transition: transform 200ms ease-in-out;
  transform-origin: top;
}

header aside a {
  padding-left: 24px;
  display: block;
}


header nav ul {
  list-style: none;
}

header nav li {
  margin-bottom: 1em;
}

header nav a {
  color: $header--text-color;
  font-size: $header--font-size;
  line-height: $header--line-height;
  opacity: 0;
  letter-spacing: $header--letter-spacing;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 75ms ease-in-out;
}


header nav a:hover {
  color: $black;
}

////////////

.nav-toggle { display: none; }
.nav-toggle:checked ~ aside {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ aside a {
  opacity: 1;
  transition: opacity 150ms ease-in-out 100ms;
}

.nav-toggle-label {
  margin-left: 24px;
  width: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span {
  display: inline-block;
  background-image: url("../../assets/images/nav-toggle.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 21px;
  width: 24px;
}

////////////

@media screen and (min-width: 878px) {
  .nav-toggle-label, header aside { display: none; }

  header > nav,
  header .search {
    display: block;
  }

  header .search-form {
    margin: 0 24px;
  }

  header .search {
    position: relative;
    display: block;
    width: 100%;
    outline: 0;
    color: $white;
    padding: 12px 12px 12px 36px;
    border-radius: 25px;
    background: transparent;
    border: 2px solid $white;
  }

  header .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  header .search-form label {
    position: absolute;
    left: 14px;
    top: 31%;
    height: 18px;
    width: 17px;
    background: url("../../assets/images/search.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  header nav a {
    display: inline;
    opacity: 1;
  }
  header {
    background: linear-gradient(
      $header--background-gradient__start,
      $header--background-gradient__end
    );


  }

  header .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr;
  }


  header nav {
    display: flex;
    align-items: center;
  }

  header nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  header nav li {
    margin-bottom: 0;
  }
}
