@import "../variables";

main {
  background-color: $navy-blue;
  height: auto;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.text-section {
  color: $blue-gray;
  padding: calc(123px + 72px) 0;
  font-family: $font--body;
  font-style: normal;
  font-weight: normal;
  line-height: 53px;
  font-size: 18px;
  letter-spacing: 0.1em;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.section-header--variant-1 {
  color: $white;
  font-family: $font--heading;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  line-height: 73px;
  font-size: 42px;
  letter-spacing: 0.3em;
}

.section-header--variant-2 {
  color: $white;
  font-family: $font--heading;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
  font-size: 46px;
  letter-spacing: 0.25em;
}

.section-header--sans {
  color: $white;
  font-family: $font--body;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  line-height: 62px;
  font-size: 40px;
  letter-spacing: 0.15em;
}

.white {
  color: $white;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #c4c4c4;
}

.planning-areas {
  line-height: 49px;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}

.investment-plant-bg {
  padding-top: 18px;
  background: url("/assets/images/Investment\ Plant.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 139px 292px;
}

.services-list {
  display: flex;
  font-style: normal;
  font-weight: normal;
  line-height: 57px;
  font-size: 24px;

  &.alt {
    line-height: 44px;
    font-size: 24px;

    display: flex;

    pointer-events: none;

    ul {
      flex: 1;
    }
  }

  ul {
    list-style: none;
    position: relative;

    &:first-of-type {
      margin-right: 94px;
    }
  }

  li {
    margin-left: calc(34px + 44px);
    margin-bottom: 30px;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  li::before {
    content: "";
    position: absolute;
    left: 0;
    height: 44px;
    width: 44px;
    background-image: url("/assets/images/checkmark.png");
    background-repeat: no-repeat;
    background-origin: center;
    background-size: cover;
  }
}

@media screen and (max-width: 878px) {
  .text-section {
    padding-top: 42px;
  }

  .services-list {
    flex-direction: column;

    ul {
      margin-right: 0 !important;
    }

    &.alt {
      font-size: 18px !important;
      width: 100%;
    }
  }

  .section-header--variant-1 {
    font-size: 32px;
  }

  .section-header--variant-2 {
    font-size: 32px;
  }
}
